*,
html{
    margin: 0;
    padding: 0;
}

.container-navbar{
    background-color:#700202 ;
    width: 100%;
    height: 10vh;
}

.ul-navbar{
    display: flex;
    height: 100px; ;
    justify-content:center;
    align-items:center ;
}

.li-navbar{
    list-style-type: none;
    padding: 20px;
    margin: 30px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
}

.li-navbar:hover{
    background-color: tomato;
    transition: .2s ease-in-out ;
    transition-delay: .3s ;
}

.a-navbar{
    color: black;
    text-decoration: none;
    font-weight: 100px;
}

.container-content{
    background-color: #f7f7f7;
    display: flex;
    justify-content:center;
    align-items:center ;
    height: 80vh; 
}

.container-content2{
    background-color: #f7f7f7;
    display: flex;
    justify-content:center;
    align-items:center ;
    height: 80vh; 
}


.a-konten{
    background-color: rgb(128, 10, 10) ;
    color: black;
    text-decoration: none;
    font-size: 30px;
    width:720px ;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10x 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.a-konten2{
    background-color: rgb(128, 10, 10) ;
    color: black;
    text-decoration: none;
    font-size: 30px;
    width:720px ;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10x 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img-content{
    width: 50%;
    height: 50%;
}

.img-content2{
    width: 50%;
    height: 50%;
}

.container-footer{
    height: 10vh;
    background-color:#700202;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font: size 40px;
    color: white;
}